<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/assets/css/bundle.css' />
    </head>
    <body>  
        <div id="app">
            <home></home>
        </div>
        <script defer src="/assets/js/bundle.js"></script>
    </body>
</html>
